.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.titulo {
  display: flex;
  justify-content: center;
  color: rgba(53, 51, 51, 0.993);
  font-size: 35px;
}
.form {
  display: flex;
  background-color: rgba(237, 242, 237, 0.466);
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  color: rgba(53, 51, 51, 0.993);
}
.divForm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  border-radius: 1rem;
}
