:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background: rgb(190, 223, 219);
  background: radial-gradient(
    circle,
    rgba(190, 223, 219, 1) 23%,
    rgba(26, 139, 139, 1) 100%
  );
}
