:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  overflow: hidden; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/038/957/904/small_2x/ai-generated-soccer-stadium-with-green-field-for-football-competition-match-football-cup-tournament-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; 
  z-index: -1; 
}

body > * {
  position: relative;
  z-index: 1;
}
